<% page_title t("weeks.title_edit") %>

<section class="page-header">
  <div>
    <p class="eyebrow"><%= t("weeks.eyebrow") %></p>
    <h1><%= t("weeks.title_edit") %></h1>
  </div>
</section>

<section class="panel">
  <%= render "form", phase: @phase, week: @week %>
</section>
