<% page_title t("organizer_members.title_new") %>

<section class="page-header">
  <div>
    <p class="eyebrow"><%= t("organizer_members.eyebrow") %></p>
    <h1><%= t("organizer_members.title_new") %></h1>
  </div>
</section>

<%= render "form", organizer_member: @organizer_member %>
