<% page_title "対戦カード編集" %>

<section class="page-header">
  <div>
    <p class="eyebrow">Match</p>
    <h1>対戦カード編集</h1>
  </div>
</section>

<section class="panel">
  <%= render "form", week: @week, match: @match %>
</section>
