<% page_title t("matches.title_edit") %>

<section class="page-header">
  <div>
    <p class="eyebrow"><%= t("matches.eyebrow") %></p>
    <h1><%= t("matches.title_edit") %></h1>
  </div>
</section>

<section class="panel">
  <%= render "form", week: @week, match: @match %>
</section>
