<% page_title t("phases.title_edit") %>

<section class="page-header">
  <div>
    <p class="eyebrow"><%= t("phases.eyebrow") %></p>
    <h1><%= t("phases.title_edit") %></h1>
  </div>
</section>

<section class="panel">
  <%= render "form", league: @league, phase: @phase %>
</section>
