<% page_title t("leagues.title_edit") %>

<section class="page-header">
  <div>
    <p class="eyebrow"><%= t("leagues.eyebrow") %></p>
    <h1><%= t("leagues.title_edit") %></h1>
  </div>
</section>

<section class="panel">
  <%= render "form", league: @league %>
</section>
